In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "06835d96-ee7b-4566-a93f-ad86babf7486",
"fs.azure.account.oauth2.client.secret": 'jIS8Q~zOiM1FR14b7RYC6kxx~j5LXix4TFd04aJA',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/0d1a12d1-21ce-4e7e-a7e8-c0df35487591/oauth2/token"}

In [0]:
dbutils.fs.mount(
source = "abfss://all-olympic-data@olympicdata1.dfs.core.windows.net", # contrainer@storageacc name
mount_point = "/mnt/project1",
extra_configs = configs)

Out[4]: True

In [0]:
%fs  
ls "/mnt/project1"

path,name,size,modificationTime
dbfs:/mnt/project1/Raw-data/,Raw-data/,0,1708333945000
dbfs:/mnt/project1/Transformed-data/,Transformed-data/,0,1708333959000

In [0]:
spark

In [0]:
#Loading Data 
athletes=spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/project1//Raw-data/athletes.csv")
gender_athletes=spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/project1//Raw-data/gender_athletes.csv")
medal_count=spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/project1//Raw-data/medals.csv")
year=spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/project1//Raw-data/Olympics_Year..csv")

In [0]:
athletes.show(5)

+--------------------+--------------+-------------+---+
|                Name|          Team|        Sport|Sex|
+--------------------+--------------+-------------+---+
|           A Dijiang|         China|   Basketball|  M|
|            A Lamusi|         China|         Judo|  M|
| Gunnar Nielsen Aaby|       Denmark|     Football|  M|
|Edgar Lindenau Aabye|Denmark/Sweden|   Tug-Of-War|  M|
|Christine Jacoba ...|   Netherlands|Speed Skating|  F|
+--------------------+--------------+-------------+---+
only showing top 5 rows

In [0]:
athletes.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Sex: string (nullable = true)

In [0]:
athletes.count()  #Data with Duplicates Rows

Out[38]: 271116

In [0]:
distinct_athletes=athletes.distinct()   #Removing Duplicates from Atheltes

In [0]:
distinct_athletes.show()

+--------------------+------------+------------+---+
|                Name|        Team|       Sport|Sex|
+--------------------+------------+------------+---+
|        Arthur Abele|     Germany|   Athletics|  M|
|Moira Abernethy (...|South Africa|    Swimming|  F|
| Fathi Khalifa Aboud|       Libya|   Athletics|  M|
|        Carolyn Adel|    Suriname|    Swimming|  F|
|  Aduuchiin Baatarkh|    Mongolia|   Wrestling|  M|
|     Andreas Aguilar|West Germany|  Gymnastics|  M|
|        Bashir Ahmad|    Pakistan|   Athletics|  M|
|     Matti Olavi Aho|     Finland|      Boxing|  M|
|       Hannes Aigner|     Germany|    Canoeing|  M|
|   Hiroyuki Akatsuka|       Japan|    Shooting|  M|
|    Khalid Al-Karkhi|        Iraq|      Boxing|  M|
|Rand Saad Mahmood...|        Iraq|     Archery|  F|
|Noshad Alamian Da...|        Iran|Table Tennis|  M|
|"Jacques Anton ""...| Netherlands|    Football|  M|
|    Younes Al-Ahamdi|     Morocco|        Judo|  M|
|   Sheikr Al-Shabani|Saudi Arabia|   Athletics|  M|
|   Sayed Fahmy Abaza|       Egypt|    Football|  M|
|Ibrahim Mohamedin...|       Qatar|   Athletics|  M|
|   Haykel Al-Achouri|     Tunisia|   Wrestling|  M|
|       Simon Agoston|     Austria|   Triathlon|  M|
+--------------------+------------+------------+---+
only showing top 20 rows

In [0]:
distinct_athletes.count()  #No of Records without duplicates

Out[41]: 140787

In [0]:
#***********************Final Tranformed Athletes Data**************************

transformed_athletes=distinct_athletes
transformed_athletes.show(5)

+--------------------+------------+---------+---+
|                Name|        Team|    Sport|Sex|
+--------------------+------------+---------+---+
|        Arthur Abele|     Germany|Athletics|  M|
|Moira Abernethy (...|South Africa| Swimming|  F|
| Fathi Khalifa Aboud|       Libya|Athletics|  M|
|        Carolyn Adel|    Suriname| Swimming|  F|
|  Aduuchiin Baatarkh|    Mongolia|Wrestling|  M|
+--------------------+------------+---------+---+
only showing top 5 rows

In [0]:
#Now We will Work on the Gender_Athletes Data and Do some Necessary Transformations

gender_athletes.show(5)

+--------------+-------------+-----+
|          Team|        Sport|Event|
+--------------+-------------+-----+
|         China|   Basketball|  Men|
|         China|         Judo|  Men|
|       Denmark|     Football|  Men|
|Denmark/Sweden|   Tug-Of-War|  Men|
|   Netherlands|Speed Skating|Women|
+--------------+-------------+-----+
only showing top 5 rows

In [0]:
gender_athletes.printSchema()

#*********Data is already in transformed Manner no need of any tranformation************************

root
 |-- Team: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
#Now we will do necessary transformations on medal_counts Table
medal_count.show(5)

+--------------------+--------------------+----+------+------+---------------------+
|                Team|No of games combined|Gold|Silver|Bronze|Total count of medals|
+--------------------+--------------------+----+------+------+---------------------+
|    Afghanistan(AFG)|                  15|   0|     0|     2|                    2|
|        Algeria(ALG)|                  17|   5|     4|     8|                   17|
|      Argentina(ARG)|                  45|  21|    26|    30|                   77|
|        Armenia(ARM)|                  15|   2|     8|     8|                   18|
|Australasia(ANZ)[...|                   2|   3|     4|     5|                   12|
+--------------------+--------------------+----+------+------+---------------------+
only showing top 5 rows

In [0]:
medal_count.printSchema()

root
 |-- Team: string (nullable = true)
 |-- No of games combined: integer (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total count of medals: integer (nullable = true)

In [0]:
medal_trasform=medal_count.withColumnRenamed("No of games combined",'total_games')  #Renamed the column

In [0]:
medal_trasform.show(5)

+--------------------+-----------+----+------+------+---------------------+
|                Team|total_games|Gold|Silver|Bronze|Total count of medals|
+--------------------+-----------+----+------+------+---------------------+
|    Afghanistan(AFG)|         15|   0|     0|     2|                    2|
|        Algeria(ALG)|         17|   5|     4|     8|                   17|
|      Argentina(ARG)|         45|  21|    26|    30|                   77|
|        Armenia(ARM)|         15|   2|     8|     8|                   18|
|Australasia(ANZ)[...|          2|   3|     4|     5|                   12|
+--------------------+-----------+----+------+------+---------------------+
only showing top 5 rows

In [0]:
medal_trasform=medal_trasform.withColumnRenamed("Total count of medals",'total_medals') # Renamed the column
medal_trasform.show(5)

+--------------------+-----------+----+------+------+------------+
|                Team|total_games|Gold|Silver|Bronze|total_medals|
+--------------------+-----------+----+------+------+------------+
|    Afghanistan(AFG)|         15|   0|     0|     2|           2|
|        Algeria(ALG)|         17|   5|     4|     8|          17|
|      Argentina(ARG)|         45|  21|    26|    30|          77|
|        Armenia(ARM)|         15|   2|     8|     8|          18|
|Australasia(ANZ)[...|          2|   3|     4|     5|          12|
+--------------------+-----------+----+------+------+------------+
only showing top 5 rows

In [0]:
medal_trasform.count()

Out[20]: 157

In [0]:
medal_trasform=medal_trasform.filter(medal_trasform.total_medals<20281)

In [0]:
medal_final_transform=medal_trasform.orderBy("total_medals", ascending=False)  #Top 10 Team win totol no. of Medals
medal_final_transform.show(10)

+--------------------+-----------+----+------+------+------------+
|                Team|total_games|Gold|Silver|Bronze|total_medals|
+--------------------+-----------+----+------+------+------------+
|UnitedStates(USA)...|         52|1174|   952|   833|        2959|
|SovietUnion(URS)[...|         18| 473|   376|   355|        1204|
|GreatBritain(GBR)...|         53| 296|   323|   331|         950|
|Germany(GER)[GER][Z]|         30| 305|   305|   312|         922|
|France(FRA)[O][P][Z]|         53| 264|   293|   332|         889|
|    Italy(ITA)[M][S]|         52| 259|   231|   269|         759|
|     China(CHN)[CHN]|         23| 285|   231|   197|         713|
|      Sweden(SWE)[Z]|         52| 212|   228|   239|         679|
|          Japan(JPN)|         45| 186|   178|   209|         573|
|      Norway(NOR)[Q]|         51| 209|   186|   173|         568|
+--------------------+-----------+----+------+------+------------+
only showing top 10 rows

In [0]:
#*****************Final Medal Trasformation**********************

medal_final_transform.show(5)

+--------------------+-----------+----+------+------+------------+
|                Team|total_games|Gold|Silver|Bronze|total_medals|
+--------------------+-----------+----+------+------+------------+
|UnitedStates(USA)...|         52|1174|   952|   833|        2959|
|SovietUnion(URS)[...|         18| 473|   376|   355|        1204|
|GreatBritain(GBR)...|         53| 296|   323|   331|         950|
|Germany(GER)[GER][Z]|         30| 305|   305|   312|         922|
|France(FRA)[O][P][Z]|         53| 264|   293|   332|         889|
+--------------------+-----------+----+------+------+------------+
only showing top 5 rows

In [0]:
#Now working on the Year data and Do some necessary tranformation
year.show(5)

+--------------+-----------+---------+
|          Team|      Games|     City|
+--------------+-----------+---------+
|         China|1992 Summer|Barcelona|
|         China|2012 Summer|   London|
|       Denmark|1920 Summer|Antwerpen|
|Denmark/Sweden|1900 Summer|    Paris|
|   Netherlands|1988 Winter|  Calgary|
+--------------+-----------+---------+
only showing top 5 rows

In [0]:
year.printSchema()

root
 |-- Team: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- City: string (nullable = true)

In [0]:
import pyspark.sql.functions as F
transform_year1=year.withColumn('name_splitter',F.split('Games',' ')) # As the Games column has the year and season so we split it them in differnt column
transform_year1.show(5)

+--------------+-----------+---------+--------------+
|          Team|      Games|     City| name_splitter|
+--------------+-----------+---------+--------------+
|         China|1992 Summer|Barcelona|[1992, Summer]|
|         China|2012 Summer|   London|[2012, Summer]|
|       Denmark|1920 Summer|Antwerpen|[1920, Summer]|
|Denmark/Sweden|1900 Summer|    Paris|[1900, Summer]|
|   Netherlands|1988 Winter|  Calgary|[1988, Winter]|
+--------------+-----------+---------+--------------+
only showing top 5 rows

In [0]:
transform_year2=transform_year1.withColumn('year',transform_year1.name_splitter[0])
transform_year2=transform_year2.withColumn('season',transform_year1.name_splitter[1])
transform_year2.show(5)

+--------------+-----------+---------+--------------+----+------+
|          Team|      Games|     City| name_splitter|year|season|
+--------------+-----------+---------+--------------+----+------+
|         China|1992 Summer|Barcelona|[1992, Summer]|1992|Summer|
|         China|2012 Summer|   London|[2012, Summer]|2012|Summer|
|       Denmark|1920 Summer|Antwerpen|[1920, Summer]|1920|Summer|
|Denmark/Sweden|1900 Summer|    Paris|[1900, Summer]|1900|Summer|
|   Netherlands|1988 Winter|  Calgary|[1988, Winter]|1988|Winter|
+--------------+-----------+---------+--------------+----+------+
only showing top 5 rows

In [0]:
final_transform_year=transform_year2.drop('name_splitter','Games')
final_transform_year.show(5)

+--------------+---------+----+------+
|          Team|     City|year|season|
+--------------+---------+----+------+
|         China|Barcelona|1992|Summer|
|         China|   London|2012|Summer|
|       Denmark|Antwerpen|1920|Summer|
|Denmark/Sweden|    Paris|1900|Summer|
|   Netherlands|  Calgary|1988|Winter|
+--------------+---------+----+------+
only showing top 5 rows

In [0]:
final_transform_year.printSchema() # After spliting the Year column is in string data type so we change it into interger

root
 |-- Team: string (nullable = true)
 |-- City: string (nullable = true)
 |-- year: string (nullable = true)
 |-- season: string (nullable = true)

In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType
final_transform_year=final_transform_year.withColumn("year",col("year").cast(IntegerType()))

In [0]:
final_transform_year.printSchema()

root
 |-- Team: string (nullable = true)
 |-- City: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- season: string (nullable = true)

In [0]:
#***************Transformed  Final Data*****************************8

final_transform_year.show(5)

+--------------+---------+----+------+
|          Team|     City|year|season|
+--------------+---------+----+------+
|         China|Barcelona|1992|Summer|
|         China|   London|2012|Summer|
|       Denmark|Antwerpen|1920|Summer|
|Denmark/Sweden|    Paris|1900|Summer|
|   Netherlands|  Calgary|1988|Winter|
+--------------+---------+----+------+
only showing top 5 rows

In [0]:
transformed_athletes.show(2)

+--------------------+------------+---------+---+
|                Name|        Team|    Sport|Sex|
+--------------------+------------+---------+---+
|        Arthur Abele|     Germany|Athletics|  M|
|Moira Abernethy (...|South Africa| Swimming|  F|
+--------------------+------------+---------+---+
only showing top 2 rows

In [0]:
transformed_athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/project1/Transformed-data/transformed_athletes")
gender_athletes.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/project1/Transformed-data/transformed_gender_athletes")
medal_final_transform.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/project1/Transformed-data/transformed_medal")
final_transform_year.repartition(1).write.mode("overwrite").option("header",'true').csv("/mnt/project1/Transformed-data/transformed_year")